<!doctype html>

<html>
<head>

    <title>Wargame prototype</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

{{#if user}}
<p>
Logged in as {{user.email}}
</p>
{{/if}}

{{{body}}}
</body>

</html>