<h1>Game</h1>

<p>ID: {{game._id}} {{game.name}}</p>

<p>Player 1: {{player1._id}} {{player1.email}}</p>
<p>Player 2: {{player2._id}} {{player2.email}}</p>



    <script src="/primus/primus.js"></script>


    <script>
    var primus = new Primus();

    primus.write({
        type: 'game_connect',
        gameId: '{{game._id}}',
    });
    </script>
