

    <script src="/primus/primus.js"></script>


    <script>
    var primus = new Primus();

    // primus.write({
    //     type: 'game_connect',
    //     gameId: {{game.id}}
    // });

    primus.on('open', function () {

      // receive incoming hi msgs
      // primus.on('hi', function (data) {
      //   console.log(data); // => good morning
      // });

      // respond ack to server
      // primus.on('news', function (data, fn) {
      //   console.log('on.news', data);
      //   fn({foo:'bar'});
      // });

      // send message to server
      // primus.send('sport', 'ping-pong');


    });


    var test = function(){

        var query = {
            id: 1,
        };
        primus.send('get_foo', query, function(data){
            console.log('foo received', data);
        });



    };

    </script>
